@charset "UTF-8";
/*size vars*/
/*font vars*/
/*color vars*/
/*media queries*/
/*********** RESET BROWSER STYLE **********/
dd, dt {
  margin: 0; }

p {
  margin: 5px 0;
  padding: 0; }

ul {
  margin: 0;
  padding: 0;
  margin-left: 20px; }

h1, h2, h3 {
  text-align: center;
  margin: 0; }

button {
  border: 0; }

a {
  text-decoration: none;
  outline: none;
  color: #0d00b8;
  transition: all 0.2s; }
  a:hover {
    text-decoration: none;
    transition: all 0.2s;
    color: #dd3c26; }

figure {
  padding: 0;
  margin: 0; }

/********** BASE RULES *********/
body {
  font-family: "Play", "Arial", sans-serif;
  font-size: 16px;
  color: #3d3c3c;
  min-width: 275px; }

.max-width-limited {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 10px; }

.margin-top {
  margin-top: 40px; }

.btn {
  padding: 7px 30px;
  border: 3px solid #ffffff;
  background-color: #dd3c26;
  outline: none;
  font-size: 20px;
  text-shadow: none;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  color: #ffffff;
  text-decoration: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s; }
  .btn a {
    color: #ffffff;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    background-color: #dd3c26; }
  .btn:hover:not(.btn--disabled) {
    background-color: #ffffff;
    color: #dd3c26;
    -webkit-transition: all 0.3s;
    transition: all 0.3s; }

.btn--disabled {
  opacity: 0.4;
  cursor: default; }
  .btn--disabled:hover {
    border: 3px solid #ffffff;
    background-color: #dd3c26;
    color: #ffffff; }

/******** HEADER ********/
.main-header {
  position: relative;
  height: 400╨╖╤Зpx;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  background-color: #424242;
  background: url(../images/web_1.jpg) 50% -100px no-repeat fixed; }
  @media (min-width: 760px) {
    .main-header {
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
      justify-content: space-between; } }
  @media (min-width: 1300px) {
    .main-header {
      -webkit-box-pack: end;
      -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
      justify-content: flex-end; } }

.top-name__block {
  -webkit-align-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end;
  -webkit-box-ordinal-group: 3;
  -webkit-order: 2;
  -ms-flex-order: 2;
  order: 2;
  max-width: 100%;
  margin-bottom: 20px;
  margin-top: 20px; }
  @media (min-width: 760px) {
    .top-name__block {
      -webkit-box-ordinal-group: 2;
      -webkit-order: 1;
      -ms-flex-order: 1;
      order: 1; } }
  @media (min-width: 1300px) {
    .top-name__block {
      -webkit-box-ordinal-group: 2;
      -webkit-order: 1;
      -ms-flex-order: 1;
      order: 1; } }
  .top-name__block .name {
    padding: 20px;
    background-color: #dd3c26;
    font: bold 40px "Play", "Arial", sans-serif;
    color: #fff;
    text-transform: uppercase; }
  .top-name__block .name__definition {
    padding: 10px; }
    .top-name__block .name__definition * {
      font-weight: normal;
      color: #ffffff; }

/********* TOP NAVIGATION **********/
.top-nav__wrapper {
  position: fixed;
  top: 0;
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
  -ms-flex-order: 1;
  order: 1;
  width: 100%;
  z-index: 10; }
  @media (min-width: 760px) {
    .top-nav__wrapper {
      position: inherit;
      -webkit-box-ordinal-group: 3;
      -webkit-order: 2;
      -ms-flex-order: 2;
      order: 2;
      z-index: 0; } }

/*NAVIGATION BUTTON ON SMALL DEVICES*/
.top-nav__button {
  width: 100%;
  border-bottom: 1px solid #b6b5b2;
  padding: 10px 0;
  background: #3d3c3c;
  color: #ffffff;
  font-size: 35px; }
  @media (min-width: 760px) {
    .top-nav__button {
      display: none; } }

/*NAVIGATION ON LARGE VIEWPORT*/
.top-nav {
  padding: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  max-height: 0;
  width: 100%;
  overflow: hidden;
  -webkit-transition: max-height 0.5s linear;
  transition: max-height 0.5s linear; }
  @media (min-width: 760px) {
    .top-nav {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      max-height: inherit; } }
  .top-nav li {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    list-style: none; }
    .top-nav li a {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      padding: 15px 0;
      border-bottom: 1px solid #5b5a5a;
      background: rgba(61, 60, 60, 0.85);
      color: #ffffff;
      text-decoration: none; }
      .top-nav li a:hover {
        background: #dd3c26; }
      @media (min-width: 760px) {
        .top-nav li a {
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -webkit-flex-direction: column;
          -ms-flex-direction: column;
          flex-direction: column;
          -webkit-justify-content: space-around;
          -ms-flex-pack: distribute;
          justify-content: space-around;
          padding: 55px 0 40px 0;
          border-right: 1px solid #5b5a5a;
          border-bottom: none;
          background: url("../images/nav_bg.png") repeat-x; }
          .top-nav li a:hover {
            box-shadow: inset 0 2px 0 #b6b5b2;
            background: url("../images/nav_bg.png");
            opacity: 0.8; } }
    .top-nav li:last-of-type a {
      border-right: none; }

/*ICONS IN TOP NAVIGATION*/
.ico {
  min-width: 45%;
  padding-right: 10px;
  font-size: 25px;
  text-align: right; }

.ico__definition {
  padding-left: 10px;
  font-size: 14px;
  text-align: left;
  text-transform: uppercase; }

@media (min-width: 760px) {
  .ico {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    min-width: 0;
    padding-right: 0;
    font-size: 55px;
    text-align: center; }

  .ico__definition {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    margin-top: 10px;
    padding-left: 0;
    text-align: center; } }
/************ MAIN **********/
.main {
  background-color: #dad8d4;
  overflow: hidden; }

.anchor-wrapper {
  position: relative; }
  .anchor-wrapper .anchor {
    position: absolute;
    height: 1px;
    top: 0; }
    @media (min-width: 760px) {
      .anchor-wrapper .anchor {
        top: -178px; } }

/****** MAIN HEADERS BASE STYLES ******/
.article-header__wrapper {
  max-width: 100%; }
  .article-header__wrapper .article-header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 60px 10px 20px 10px; }

.article-h2 {
  margin-bottom: 20px;
  font-size: 30px;
  color: #dd3c26;
  text-transform: uppercase;
  font-weight: bold; }
  @media (min-width: 400px) {
    .article-h2 {
      font-size: 40px; } }
  @media (min-width: 760px) {
    .article-h2 {
      font-size: 45px; } }
  .article-h2:before {
    content: '<';
    font-size: 30px;
    color: #ffffff;
    font-weight: bold; }
    @media (min-width: 400px) {
      .article-h2:before {
        font-size: 40px; } }
    @media (min-width: 760px) {
      .article-h2:before {
        font-size: 45px; } }
  .article-h2:after {
    content: '/>';
    font-size: 30px;
    color: #ffffff;
    font-weight: bold; }
    @media (min-width: 400px) {
      .article-h2:after {
        font-size: 40px; } }
    @media (min-width: 760px) {
      .article-h2:after {
        font-size: 45px; } }

.article-h3 {
  margin-bottom: 10px; }

.article-header__description {
  max-width: 100%;
  color: #5b5a5a; }
  .article-header__description p, .article-header__description span, .article-header__description div, .article-header__description section {
    color: #5b5a5a;
    text-align: center; }
  .article-header__description a {
    font-weight: bold; }

/********* PROFILE block **********/
.profile {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }

.profile-block__wrapper {
  margin-top: 40px;
  padding-bottom: 50px;
  min-height: 535px;
  background: url("../images/map_pattern.png") 0 50px repeat-x, #dd3c26; }
  .profile-block__wrapper .profile-tabs__bg {
    height: 50px;
    background-color: #5b5a5a; }

.profile-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }
  @media (min-width: 760px) {
    .profile-block {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-box-align: start;
      -webkit-align-items: flex-start;
      -ms-flex-align: start;
      align-items: flex-start; } }

.profile-block__info {
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  max-width: 300px;
  margin: -75px 10px 20px 10px;
  color: #ffffff; }
  .profile-block__info .profile-block__img {
    width: 250px;
    height: 250px;
    border: 10px solid #ffffff; }
  .profile-block__info .my-info {
    margin-top: 30px; }
    .profile-block__info .my-info td {
      padding-bottom: 10px; }
    .profile-block__info .my-info td:first-of-type {
      font-weight: bold; }

.profile-tabs {
  width: 100%;
  margin-top: 20px; }
  @media (min-width: 760px) {
    .profile-tabs {
      -webkit-box-flex: 1;
      -webkit-flex: 1 0 400px;
      -ms-flex: 1 0 400px;
      flex: 1 0 400px;
      margin: -70px 10px 20px 10px; } }
  .profile-tabs .profile-tabs__nav {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around; }
    .profile-tabs .profile-tabs__nav .fa {
      padding: 25px 0;
      cursor: pointer;
      font-size: 25px;
      color: #b6b5b2; }
      @media (min-width: 760px) {
        .profile-tabs .profile-tabs__nav .fa {
          padding: 35px; } }
      .profile-tabs .profile-tabs__nav .fa:hover {
        color: #ffffff; }
  .profile-tabs .tab {
    padding: 10px;
    color: #ffffff; }
    @media (min-width: 760px) {
      .profile-tabs .tab {
        padding-top: 20px; } }
    .profile-tabs .tab * {
      text-indent: 20px; }
    .profile-tabs .tab a {
      color: #dad8d4;
      font-weight: bold;
      text-decoration: underline;
      transition: all 0.2s; }
      .profile-tabs .tab a:hover {
        text-decoration: none;
        transition: all 0.2s;
        color: #0d00b8; }

/*swag*/
.swag {
  height: 250px;
  background: url("../images/rails_bg.jpg") fixed center bottom; }

.swag-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  font-weight: bold;
  color: #ffffff;
  text-shadow: 2px 2px #3d3c3c;
  text-align: center; }
  .swag-container p, .swag-container div, .swag-container section, .swag-container span {
    max-width: 100%; }

/**********BLOG****************/
.blog__cat {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 400px;
  background-color: #000; }
  .blog__cat img {
    height: 100%; }

/******** PORTFOLIO-GALLERY block **********/
.gallery {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding-bottom: 30px; }
  @media (min-width: 760px) {
    .gallery {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
      justify-content: space-around; } }

.gallery-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  margin-bottom: 40px;
  max-width: 440px; }
  @media (min-width: 760px) {
    .gallery-item {
      width: auto;
      margin: 20px;
      -webkit-box-flex: 1;
      -webkit-flex: 1 0 290px;
      -ms-flex: 1 0 290px;
      flex: 1 0 290px;
      max-width: 45%; } }

.gallery-item__hover-block {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  overflow: hidden; }

.gallery-item__link {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  z-index: 1;
  background-color: transparent;
  -webkit-transition: all 0.3s;
  transition: all 0.3s; }
  .gallery-item__link a {
    text-decoration: none;
    padding: 20px 22px;
    border: 3px solid #b6b5b2;
    font-size: 20px;
    color: #b6b5b2;
    opacity: 0;
    -webkit-transform: scale(2);
    -ms-transform: scale(2);
    transform: scale(2); }

.gallery-item__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../images/sites/sprite.jpg");
  background-repeat: repeat-y;
  background-position: 50% 0;
  background-size: 100%;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  z-index: 0; }

.gallery-item__desc {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  min-height: 50px;
  padding: 10px;
  background-color: #f0f0f0;
  z-index: 1; }
  .gallery-item__desc h3 {
    font-size: 18px;
    margin-bottom: 2px;
    color: #dd3c26; }
  .gallery-item__desc .gallery-item__desc-text {
    font-size: 14px;
    text-align: center;
    color: #3d3c3c;
    max-width: 100%; }

/*hover-??????? ??? ????????? ?? ????*/
.gallery-item:hover .gallery-item__img {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-transition: all 0.3s;
  transition: all 0.3s; }
.gallery-item:hover .gallery-item__link {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  background-color: rgba(0, 0, 0, 0.7); }
  .gallery-item:hover .gallery-item__link a {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    -webkit-transition: background-color 0.3s, opacity 0.4s ease-in-out, border 0.2s ease-in-out, color 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
    transition: background-color 0.3s, opacity 0.4s ease-in-out, border 0.2s ease-in-out, color 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
    transition: background-color 0.3s, opacity 0.4s ease-in-out, transform 0.2s ease-in-out, border 0.2s ease-in-out, color 0.2s ease-in-out;
    transition: background-color 0.3s, opacity 0.4s ease-in-out, transform 0.2s ease-in-out, border 0.2s ease-in-out, color 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out; }
    .gallery-item:hover .gallery-item__link a:hover {
      border: 3px solid #ffffff;
      color: #ffffff;
      -webkit-transition: opacity 0.4s ease-in-out, border 0.2s ease-in-out, color 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
      transition: opacity 0.4s ease-in-out, border 0.2s ease-in-out, color 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
      transition: opacity 0.4s ease-in-out, transform 0.2s ease-in-out, border 0.2s ease-in-out, color 0.2s ease-in-out;
      transition: opacity 0.4s ease-in-out, transform 0.2s ease-in-out, border 0.2s ease-in-out, color 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out; }
.gallery-item:hover .gallery-item__desc {
  background-color: #dd3c26; }
  .gallery-item:hover .gallery-item__desc h3 {
    color: #ffffff; }
  .gallery-item:hover .gallery-item__desc .gallery-item__desc-text {
    color: #ffffff; }

/******PORTFOLIO ITEM BLOCK*****/
.project-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center; }
  @media (min-width: 760px) {
    .project-wrapper {
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start; } }

/*╨║╨╜╨╛╨┐╨║╨╕*/
.project-btn-container {
  width: 90%;
  display: flex;
  justify-content: space-around;
  margin: 20px auto 5px auto; }
  @media (min-width: 760px) {
    .project-btn-container {
      margin: 15px auto; } }

.project-btn--prev, .project-btn--next {
  padding: 10px 10px 10px 0;
  margin: 0 5px;
  background-color: #dd3c26;
  text-align: center;
  font-size: 14px;
  font-weight: normal; }
  .project-btn--prev .fa, .project-btn--next .fa {
    display: inline-block;
    padding: 0 10px;
    font-size: 16px;
    text-align: start; }
  @media (min-width: 760px) {
    .project-btn--prev, .project-btn--next {
      padding: 10px 20px 10px 10px;
      margin: 0 30px; } }

.project-btn--next {
  padding: 10px 0 10px 10px; }
  @media (min-width: 760px) {
    .project-btn--next {
      padding: 10px 10px 10px 20px; } }
  .project-btn--next .fa {
    text-align: end; }

/*╨╕╨╜╤Д╨╛╨▒╨╗╨╛╨║*/
.project-info, .project-img {
  z-index: 1;
  width: 100%;
  max-width: 600px;
  margin: 30px 10px; }
  @media (min-width: 760px) {
    .project-info, .project-img {
      box-sizing: border-box;
      max-width: 400px; } }
  .project-info > header, .project-img > header {
    background: url("../images/title_line_bg.jpg") repeat-x 0 50%;
    margin-bottom: 30px; }

.project__infoblock {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  margin-bottom: 30px; }
  .project__infoblock header {
    margin-left: 7%;
    margin-bottom: 7px;
    padding: 5px 10px;
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
    background: #dd3c26; }
    @media (min-width: 400px) {
      .project__infoblock header {
        margin-left: 15%;
        padding: 5px 20px; } }
  .project__infoblock .infoblock__text {
    background-color: #f0f0f0;
    margin-right: 7%;
    padding: 5px 10px; }
    @media (min-width: 400px) {
      .project__infoblock .infoblock__text {
        margin-right: 15%;
        padding: 5px 20px; } }
  .project__infoblock a {
    font-weight: bold; }

.project-img {
  z-index: 2; }
  @media (min-width: 760px) {
    .project-img {
      max-width: 600px; } }

.project-img__container {
  background-color: #f0f0f0; }
  .project-img__container img {
    width: 100%; }

/******** RESUME block *******/
.resume {
  margin-bottom: 30px; }

.resume-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }
  @media (min-width: 760px) {
    .resume-wrapper {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-align: start;
      -webkit-align-items: flex-start;
      -ms-flex-align: start;
      align-items: flex-start;
      -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
      justify-content: space-around; } }

.resume-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  margin: 30px 10px;
  min-height: 500px; }
  @media (min-width: 760px) {
    .resume-item {
      -webkit-box-flex: 1;
      -webkit-flex: 1 0 35%;
      -ms-flex: 1 0 35%;
      flex: 1 0 35%; } }
  .resume-item > header {
    background: url("../images/title_line_bg.jpg") repeat-x 0 50%; }

.resume-item__header, .project-info > header h3, .project-img > header h3 {
  display: inline-block;
  font-size: 26px;
  font-weight: bold;
  color: #3d3c3c;
  text-transform: uppercase;
  background: #dad8d4; }

.resume-item__block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 30px; }
  @media (min-width: 400px) {
    .resume-item__block {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-box-align: start;
      -webkit-align-items: flex-start;
      -ms-flex-align: start;
      align-items: flex-start;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center; } }

.resume-item__icon {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  width: 65px;
  height: 65px;
  margin-right: 15px;
  background-color: #dd3c26;
  color: #ffffff; }
  .resume-item__icon .fa {
    font-size: 25px; }
  .resume-item__icon:after, .skill-percentage:after {
    position: absolute;
    bottom: -7px;
    left: 25px;
    width: 15px;
    height: 15px;
    content: '';
    background-color: #dd3c26;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg); }
    @media (min-width: 400px) {
      .resume-item__icon:after, .skill-percentage:after {
        bottom: auto;
        left: auto;
        right: -7px;
        top: 20px; } }

.resume-item__desc {
  padding: 15px;
  background-color: #f0f0f0; }
  @media (min-width: 400px) {
    .resume-item__desc {
      -webkit-box-flex: 1;
      -webkit-flex: 1 0 230px;
      -ms-flex: 1 0 230px;
      flex: 1 0 230px; } }

.desc-date, .desc-position {
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 5px;
  color: #dd3c26; }

.desc-position {
  color: #3d3c3c; }

.desc-text {
  font-size: 14px;
  color: #3d3c3c; }
  .desc-text .fa {
    padding-right: 10px;
    color: #dd3c26; }

.desc-percentage {
  padding: 15px;
  font-weight: bold;
  color: #ffffff;
  background-color: #dd3c26; }

/*skills block (?????????????)*/
.skill-item .resume-item__block {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }

.skill {
  -webkit-box-flex: 5;
  -webkit-flex-grow: 5;
  -ms-flex-positive: 5;
  flex-grow: 5;
  max-width: 70%;
  padding: 10px;
  background-color: #f0f0f0;
  color: #3d3c3c;
  font-weight: bold; }

.skill-percentage {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  position: relative;
  margin-left: 15px;
  padding: 10px 10px;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
  background-color: #dd3c26; }
  .skill-percentage:after {
    right: 0;
    left: -7px;
    top: 12px; }

.button-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  margin-top: 20px; }

/*********** CONTACTS block *************/
.contacts-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  @media (min-width: 760px) {
    .contacts-wrapper {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center; } }

/*****E-mail block******/
.contacts__mail-block {
  box-sizing: border-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 20px;
  background: url("../images/map_pattern.png") 0 50px repeat-x, #dd3c26; }
  @media (min-width: 760px) {
    .contacts__mail-block {
      -webkit-box-pack: end;
      -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
      justify-content: flex-end;
      padding-right: 40px;
      width: auto;
      -webkit-box-flex: 1;
      -webkit-flex: 1 0 250px;
      -ms-flex: 1 0 250px;
      flex: 1 0 250px; } }

.mail-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 80px 0;
  width: 100%;
  max-width: 450px; }

.mail-text, .mail-message {
  max-width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  color: #3d3c3c;
  outline: none;
  border: 1px solid #ffffff;
  border-radius: 7px;
  background-color: #ffffff; }

.mail-message {
  resize: none;
  min-height: 100px; }

/*****Contacts info block******/
.contacts__info-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  box-sizing: border-box;
  padding: 40px 20px; }
  @media (min-width: 760px) {
    .contacts__info-block {
      -webkit-box-align: start;
      -webkit-align-items: flex-start;
      -ms-flex-align: start;
      align-items: flex-start;
      padding: 0;
      padding-left: 40px;
      width: auto;
      -webkit-box-flex: 1;
      -webkit-flex: 1 0 250px;
      -ms-flex: 1 0 250px;
      flex: 1 0 250px; } }

.info-block_item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 40px; }
  @media (min-width: 760px) {
    .info-block_item {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; } }

.contacts-ico {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  width: 75px;
  height: 75px;
  background-color: #f0f0f0; }
  @media (min-width: 760px) {
    .contacts-ico {
      margin-right: 20px; } }
  .contacts-ico .fa {
    font-size: 40px;
    color: #dd3c26; }

.contacts-text {
  margin-top: 20px;
  color: #3d3c3c; }
  @media (min-width: 760px) {
    .contacts-text {
      margin-top: 0; } }

/************ FOOTER ***********/
.main-footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  height: 150px;
  background-color: #3d3c3c; }
  @media (min-width: 760px) {
    .main-footer {
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center; } }
  .main-footer a {
    text-decoration: none;
    color: inherit; }
  .main-footer .fa {
    font-size: 25px;
    color: #b6b5b2;
    cursor: pointer; }
    @media (min-width: 760px) {
      .main-footer .fa {
        padding: 0 25px; } }
    .main-footer .fa:hover {
      color: #dd3c26; }

/*toggle styles*/
/*classes for tabs switch script*/
.tab__icon--active {
  background: #dd3c26;
  color: #ffffff !important; }

.tab--invisible {
  display: none; }

.tab--active {
  opacity: 0; }

.tab--opacity-1 {
  -webkit-transition: opacity 1.2s;
  transition: opacity 1.2s;
  opacity: 1; }

/*other additional styles*/
.top-nav .active-li a {
  box-shadow: none;
  background: #dd3c26 !important; }
  @media (min-width: 760px) {
    .top-nav .active-li a {
      background: #dd3c26;
      color: #ffffff;
      border-top: 2px solid #b6b5b2;
      box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.6); }
      .top-nav .active-li a:hover {
        background: #dd3c26;
        color: #ffffff;
        border-top: 2px solid #b6b5b2;
        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.6); } }

/********ANIMATION STYLES************/
/******delay******/
@keyframes icoZoom {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); }
  30% {
    transform: scale3d(0.5, 0.5, 0.5); }
  40% {
    transform: scale3d(1.2, 1.2, 1.2); }
  55% {
    transform: scale3d(0.7, 0.7, 0.7); }
  70% {
    transform: scale3d(1.1, 1.1, 1.1); }
  80% {
    transform: scale3d(0.9, 0.9, 0.9); } }
.icoZoom {
  animation-name: icoZoom;
  -webkit-animation-name: icoZoom;
  animation-duration: 800ms;
  animation-timing-function: ease-in-out; }

/****timing for elements***/
.delay-02s {
  animation-delay: 150ms; }

.delay-04s {
  animation-delay: 300ms; }

.delay-06s {
  animation-delay: 450ms; }

.delay-08s {
  animation-delay: 600ms; }

/*╨┤╨╗╤П ╨╖╨░╨┐╤Г╤Б╨║╨░ ╨┤╨╛╨▒╨░╨▓╨╕╤В╤М ╨║ ╤Н╨╗╨╡╨╝╨╡╨╜╤В╤Г ╨║╨╗╨░╤Б╤Б hijackLeft, ╨┐╨╛╨╕╨│╤А╨░╤В╤М╤Б╤П ╤Б ╤В╨░╨╣╨╝╨╕╨╜╨│╨░╨╝╨╕ js ╨╕ css*/

/*# sourceMappingURL=styles.css.map */
