/*size vars*/
$wrapper-width: 1000px;

/*font vars*/
$font-family--base: 'Play';
$font-size--base: 16px;
$font-size--sm: 14px;

/*color vars*/
$color-white: #ffffff;
$color-2: #5b5a5a;
$color-base: #3d3c3c;
$color-4: #dd3c26;
$color-5: #dad8d4;
$color-6: #b6b5b2;
$color-7: #f0f0f0;
$color-link: #0d00b8;

/*media queries*/
$media-sm: 400px;
$media-m: 760px;
$media-l: 1300px;
$media-xl: 1500px;

/*********** RESET BROWSER STYLE **********/
dd, dt {
  margin: 0;
}

p{
  margin: 5px 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
  margin-left: 20px;
}

h1, h2, h3 {
  text-align: center;
  margin: 0;
}

button {
  border: 0;
}

a{
  text-decoration: none;
  outline: none;
  color: $color-link;
  transition: all 0.2s;

  &:hover{
    text-decoration: none;
    transition: all 0.2s;
    color: $color-4;
  }
}

figure{
  padding: 0;
  margin: 0;
}

/********** BASE RULES *********/
body {
  font-family: $font-family--base;
  font-size: $font-size--base;
  color: $color-base;
  min-width: 275px;
}

.max-width-limited {
  max-width: $wrapper-width;
  margin: 0 auto;
  padding: 0 10px;
}

.margin-top{
  margin-top: 40px;
}
.btn{
  padding: 7px 30px;
  border: 3px solid $color-white;
  background-color: $color-4;
  outline: none;
  font-size: 20px;
  text-shadow: none;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  color: $color-white;
  text-decoration: none;

  &:hover{
    background-color: $color-white;
    color: $color-4;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
}


/******** HEADER ********/
.main-header {
  position: relative;
  height: 775px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  background-color: #424242;
  background: url(../images/main_bg_925_h.jpg) 50% -100px no-repeat fixed;

  @media (min-width: $media-m) {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  @media (min-width: $media-l) {
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }
}

.top-name__block {
  -webkit-align-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end;
  -webkit-box-ordinal-group: 3;
  -webkit-order: 2;
  -ms-flex-order: 2;
  order: 2;
  max-width: 100%;
  margin-bottom: 20px;
  margin-top: 20px;

  @media (min-width: $media-m) {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
  }

  @media (min-width: $media-l) {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
  }

  .name {
    padding: 20px;
    background-color: $color-4;
    font: bold 40px $font-family--base;
    color: #fff;
    text-transform: uppercase;
  }

  .name__definition {
    padding: 10px;

    * {
      font-weight: normal;
      color: $color-white;
    }
  }
}

/********* TOP NAVIGATION **********/
.top-nav__wrapper {
  position: fixed;
  top: 0;
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
  -ms-flex-order: 1;
  order: 1;
  width: 100%;
  z-index: 10;

  @media (min-width: $media-m) {
    position: inherit;
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
    -ms-flex-order: 2;
    order: 2;
    z-index: 0;
  }
}

/*NAVIGATION BUTTON ON SMALL DEVICES*/
.top-nav__button {
  width: 100%;
  border-bottom: 1px solid $color-6;
  padding: 10px 0;
  background: $color-base;
  color: $color-white;
  font-size: 35px;

  @media (min-width: $media-m) {
    display: none;
  }
}

/*NAVIGATION ON LARGE VIEWPORT*/
.top-nav {
  padding: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  max-height: 0;
  width: 100%;
  overflow: hidden;
  -webkit-transition: max-height 0.5s linear;
  transition: max-height 0.5s linear;

  @media (min-width: $media-m) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    max-height: inherit;
  }

  li {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    list-style: none;

    a {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      padding: 15px 0;
      border-bottom: 1px solid $color-2;
      background: rgba(61, 60, 60, 0.85);
      color: $color-white;
      text-decoration: none;

      &:hover {
        background: $color-4;
      }

      @media (min-width: $media-m) {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
        justify-content: space-around;
        padding: 55px 0 40px 0;
        border-right: 1px solid $color-2;
        border-bottom: none;
        background: url("../images/nav_bg.png") repeat-x;
        color: #9e9b96;

        &:hover {
          box-shadow: inset 0 2px 0 $color-6;;
          background: url("../images/nav_bg.png");
          color: $color-white;
        }
      }
    }

    &:last-of-type {
      a {
        border-right: none;
      }
    }
  }
}



/*ICONS IN TOP NAVIGATION*/
.ico {
  min-width: 45%;
  padding-right: 10px;
  font-size: 25px;
  text-align: right;
}

.ico__definition {
  padding-left: 10px;
  font-size: $font-size--base - 2px;
  text-align: left;
  text-transform: uppercase;
}

@media (min-width: $media-m) {
  .ico {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    min-width: 0;
    padding-right: 0;
    font-size: 55px;
    text-align: center;
  }

  .ico__definition {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    margin-top: 10px;
    padding-left: 0;
    text-align: center;
  }
}

/************ MAIN **********/
.main {
  background-color: $color-5;
  overflow: hidden;
}

.anchor-wrapper {
  position: relative;

  .anchor {
    position: absolute;
    height: 1px;
    top: 0;

    @media (min-width: $media-m) {
      top: -178px;
    }
  }
}

/****** MAIN HEADERS BASE STYLES ******/
$article-font-size-xs: 30px;
$article-font-size-sm: 40px;
$article-font-size-m: 45px;

.article-header__wrapper {
  max-width: 100%;

  .article-header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 60px 10px 20px 10px;
  }
}

.article-h2 {
  margin-bottom: 20px;
  font-size: $article-font-size-xs;
  color: $color-4;
  text-transform: uppercase;
  font-weight: bold;

  @media (min-width: $media-sm) {
    font-size: $article-font-size-sm;
  }

  @media (min-width: $media-m) {
    font-size: $article-font-size-m;
  }

  &:before {
    content: '<';
    font-size: $article-font-size-xs;
    color: $color-white;
    font-weight: bold;

    @media (min-width: $media-sm) {
      font-size: $article-font-size-sm;
    }

    @media (min-width: $media-m) {
      font-size: $article-font-size-m;
    }
  }

  &:after {
    content: '/>';
    font-size: $article-font-size-xs;
    color: $color-white;
    font-weight: bold;

    @media (min-width: $media-sm) {
      font-size: $article-font-size-sm;
    }

    @media (min-width: $media-m) {
      font-size: $article-font-size-m;
    }
  }
}

.article-h3{
  margin-bottom: 10px;
}

.article-header__description {
  max-width: 100%;
  color: $color-2;

  & p, & span, & div, & section{
    color: $color-2;
    text-align: center;
  }

  a {
    font-weight: bold;
  }
}




/********* PROFILE block **********/
.profile {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.profile-block__wrapper {
  margin-top: 40px;
  padding-bottom: 50px;
  min-height: 535px;
  background: url("../images/map_pattern.png") 0 50px repeat-x, $color-4;
  //background-color: $color-4;

  .profile-tabs__bg {
    height: 50px;
    background-color: $color-2;
  }
}

.profile-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;

  @media (min-width: $media-m) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
}

.profile-block__info {
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  max-width: 300px;
  margin: -75px 10px 20px 10px;
  color: $color-white;

  .profile-block__img {
    width: 250px;
    height: 250px;
    border: 10px solid $color-white;
  }

  .my-info {
    margin-top: 30px;

    td {
      padding-bottom: 10px;
    }

    td:first-of-type {
      font-weight: bold;
    }
  }
}

.profile-tabs {
  width: 100%;
  margin-top: 20px;

  @media (min-width: $media-m) {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 400px;
    -ms-flex: 1 0 400px;
    flex: 1 0 400px;
    margin: -60px 10px 20px 10px;
  }

  .profile-tabs__nav {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;

    .fa {
      padding: 25px 0;
      cursor: pointer;
      font-size: 25px;
      color: $color-6;

      @media (min-width: $media-m) {
        padding: 25px 35px;
      }

      &:hover {
        color: $color-white;
      }
    }
  }

  .tab {
    padding: 10px;
    color: $color-white;

    @media (min-width: $media-m) {
      padding-top: 20px;
    }

    * {
      text-indent: 20px;
    }

    a{
      color: $color-5;
      font-weight: bold;
      text-decoration: underline;
      transition: all 0.2s;

      &:hover{
        text-decoration: none;
        transition: all 0.2s;
        color: $color-link;
      }
    }
  }
}

/*swag*/
.swag {
  height: 250px;
  background: url("../images/rails_bg.jpg") fixed center bottom;
}

.swag-container{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-size: 25px;
  font-weight: bold;
  color: $color-white;
  text-shadow: 2px 2px $color-base;
  text-align: center;

  p, div, section, span{
    max-width: 100%;
  }
}




/**********BLOG****************/
.blog__cat{
  display: flex;
  justify-content: center;
  width: 100%;
  height: 400px;
  background-color: #000;

  img{
    height: 100%;
  }
}





/******** PORTFOLIO-GALLERY block **********/
.gallery {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding-bottom: 30px;

  @media (min-width: $media-m) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
}

.gallery-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  margin-bottom: 40px;
  max-width: 440px;

  @media (min-width: $media-m) {
    width: auto;
    margin: 20px;
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 290px;
    -ms-flex: 1 0 290px;
    flex: 1 0 290px;
    max-width: 45%;
  }
}

.gallery-item__hover-block{
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  overflow: hidden;
}

.gallery-item__link{
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  z-index: 1;
  background-color: transparent;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;

  a {
    text-decoration: none;
    padding: 20px 22px;

    border: 3px solid $color-6;
    font-size: 20px;
    color: $color-6;
    opacity: 0;
    -webkit-transform: scale(2);
    -ms-transform: scale(2);
    transform: scale(2);
  }

}

.gallery-item__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../images/sites/sprite.jpg");
  background-repeat: repeat-y;
  background-position: 50% 0;
  background-size: 100%;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  z-index: 0;

}

.gallery-item__desc {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  min-height: 50px;
  padding: 10px;
  background-color: $color-7;
  z-index: 1;

  h3 {
    font-size: 18px;
    margin-bottom: 2px;
    color: $color-4;
  }

  .gallery-item__desc-text {
    font-size: $font-size--sm;
    text-align: center;
    color: $color-base;
    max-width: 100%;
  }
}


/*hover-эффекты при наведении на блок*/
.gallery-item:hover {

  .gallery-item__img {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }

  .gallery-item__link{
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    background-color: rgba(0, 0, 0, 0.7);


    a {
      -webkit-transform: scale(1);
      -ms-transform: scale(1);
      transform: scale(1);
      opacity: 1;
      -webkit-transition: background-color 0.3s,
      opacity 0.4s ease-in-out,
      border 0.2s ease-in-out,
      color 0.2s ease-in-out,
      -webkit-transform 0.2s ease-in-out;
      transition: background-color 0.3s,
      opacity 0.4s ease-in-out,
      border 0.2s ease-in-out,
      color 0.2s ease-in-out,
      -webkit-transform 0.2s ease-in-out;
      transition: background-color 0.3s,
      opacity 0.4s ease-in-out,
      transform 0.2s ease-in-out,
      border 0.2s ease-in-out,
      color 0.2s ease-in-out;
      transition: background-color 0.3s,
      opacity 0.4s ease-in-out,
      transform 0.2s ease-in-out,
      border 0.2s ease-in-out,
      color 0.2s ease-in-out,
      -webkit-transform 0.2s ease-in-out;

      &:hover {
        border: 3px solid $color-white;
        color: $color-white;
        -webkit-transition: opacity 0.4s ease-in-out,
        border 0.2s ease-in-out,
        color 0.2s ease-in-out,
        -webkit-transform 0.2s ease-in-out;
        transition: opacity 0.4s ease-in-out,
        border 0.2s ease-in-out,
        color 0.2s ease-in-out,
        -webkit-transform 0.2s ease-in-out;
        transition: opacity 0.4s ease-in-out,
        transform 0.2s ease-in-out,
        border 0.2s ease-in-out,
        color 0.2s ease-in-out;
        transition: opacity 0.4s ease-in-out,
        transform 0.2s ease-in-out,
        border 0.2s ease-in-out,
        color 0.2s ease-in-out,
        -webkit-transform 0.2s ease-in-out;
      }
    }
  }

  .gallery-item__desc {
    background-color: $color-4;

    h3 {
      color: $color-white;
    }

    .gallery-item__desc-text {
      color: $color-white;
    }
  }
}


/******PORTFOLIO ITEM BLOCK*****/

.project-wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $media-m) {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
}

.project-info{
  z-index: 1;
  width: 100%;
  max-width: 600px;
  margin: 30px 10px;

  @media (min-width: $media-m) {
    box-sizing: border-box;
    max-width: $wrapper-width * 0.4;
  }

  & > header{
    background: url("../images/title_line_bg.jpg") repeat-x 0 50%;
    margin-bottom: 30px;

    h3{
      @extend .resume-item__header;
    }
  }
}

.project__infoblock{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  margin-bottom: 30px;

  header{
    margin-left: 7%;
    margin-bottom: 7px;
    padding: 5px 10px;
    font-size: 18px;
    font-weight: bold;
    color: $color-white;
    background: $color-4;

    @media (min-width: $media-sm) {
      margin-left: 15%;
      padding: 5px 20px;
    }
  }

  .infoblock__text{
    background-color: $color-7;
    margin-right: 7%;
    padding: 5px 10px;

    @media (min-width: $media-sm) {
      margin-right: 15%;
      padding: 5px 20px;
    }
  }

  a{
    font-weight: bold;
  }
}


.project-img{
  @extend .project-info;
  z-index: 2;

  @media (min-width: $media-m) {
    max-width: $wrapper-width * 0.6;
  }
}

.project-img__container{
  background-color: $color-7;

  img{
    width: 100%;

    @media (min-width: $media-m) {

    }
  }
}


/******** RESUME block *******/
.resume{
  margin-bottom: 30px;
}

.resume-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;

  @media (min-width: $media-m) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
}

.resume-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  margin: 30px 10px;
  min-height: 500px;

  @media (min-width: $media-m) {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 35%;
    -ms-flex: 1 0 35%;
    flex: 1 0 35%;
  }

  & > header {
    background: url("../images/title_line_bg.jpg") repeat-x 0 50%;
  }
}

.resume-item__header {
  display: inline-block;
  font-size: 26px;
  font-weight: bold;
  color: $color-base;
  text-transform: uppercase;
  background: $color-5;
}

.resume-item__block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 30px;

  @media (min-width: $media-sm) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}



.resume-item__icon {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  width: 65px;
  height: 65px;
  margin-right: 15px;
  background-color: $color-4;
  color: $color-white;

  .fa {
    font-size: 25px;
  }

  &:after {
    position: absolute;
    bottom: -7px;
    left: 25px;
    width: 15px;
    height: 15px;
    content: '';
    background-color: $color-4;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);

    @media (min-width: $media-sm) {
      bottom: auto;
      left: auto;
      right: -7px;
      top: 20px;
    }
  }

}

.resume-item__desc {
  padding: 15px;
  background-color: $color-7;

  @media (min-width: $media-sm) {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 230px;
    -ms-flex: 1 0 230px;
    flex: 1 0 230px;
  }
}

.desc-date {
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 5px;
  color: $color-4;
}

.desc-position {
  @extend .desc-date;
  color: $color-base;
}

.desc-text {
  font-size: $font-size--sm;
  color: $color-base;

  .fa {
    padding-right: 10px;
    color: $color-4;
  }
}

.desc-percentage {
  padding: 15px;
  font-weight: bold;
  color: $color-white;
  background-color: $color-4;
}

/*skills block (левосторонний)*/
.skill-item .resume-item__block {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.skill {
  -webkit-box-flex: 5;
  -webkit-flex-grow: 5;
  -ms-flex-positive: 5;
  flex-grow: 5;
  max-width: 70%;
  padding: 10px;
  background-color: $color-7;
  color: $color-base;
  font-weight: bold;
}

.skill-percentage {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  position: relative;
  margin-left: 15px;
  padding: 10px 10px;
  font-weight: bold;
  color: $color-white;
  text-align: center;
  background-color: $color-4;

  &:after {
    @extend .resume-item__icon:after;
    right: 0;
    left: -7px;
    top: 12px;
  }
}


.button-wrapper{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  margin-top: 20px;
}



/*********** CONTACTS block *************/
.contacts-wrapper{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;

  @media (min-width: $media-m){
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

/*****E-mail block******/

.contacts__mail-block{
  box-sizing: border-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 20px;
  background: url("../images/map_pattern.png") 0 50px repeat-x, $color-4;
  //background-color: $color-4;

  @media (min-width: $media-m) {
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding-right: 40px;
    width: auto;
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 250px;
    -ms-flex: 1 0 250px;
    flex: 1 0 250px;
  }
}

.mail-form{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;

  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;

  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;

  padding: 80px 0;
  width: 100%;
  max-width: 450px;
}


.mail-text{
  max-width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  color: $color-base;
  outline: none;
  border: 1px solid $color-white;
  border-radius: 7px;
  background-color: $color-white;
}

.mail-message{
  @extend .mail-text;
  resize: none;
  min-height: 100px;
}


/*****Contacts info block******/
.contacts__info-block{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  box-sizing: border-box;
  padding: 40px 20px;

  @media (min-width: $media-m) {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    padding: 0;
    padding-left: 40px;
    width: auto;
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 250px;
    -ms-flex: 1 0 250px;
    flex: 1 0 250px;
  }
}

.info-block_item{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 40px;

  @media (min-width: $media-m) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}

.contacts-ico{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  width: 75px;
  height: 75px;
  background-color: $color-7;

  @media (min-width: $media-m) {
    margin-right: 20px;
  }

  .fa{
    font-size: 40px;
    color: $color-4;
  }
}

.contacts-text{
  margin-top: 20px;
  color: $color-base;

  @media (min-width: $media-m) {
    margin-top: 0;
  }
}



/************ FOOTER ***********/
.main-footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  height: 150px;
  background-color: $color-base;

  @media (min-width: $media-m) {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  a{
    text-decoration: none;
    color: inherit;
  }

  .fa {
    font-size: 25px;
    color: $color-6;
    cursor: pointer;

    @media (min-width: $media-m) {
      padding: 0 25px;
    }

    &:hover {
      color: $color-4;
    }
  }

}

/*toggle styles*/

/*classes for tabs switch script*/
.tab__icon--active {
  background: $color-4;
  color: $color-white !important;
}

.tab--invisible {
  display: none;
}

.tab--active {
  opacity: 0;
}

.tab--opacity-1 {
  -webkit-transition: opacity 1.2s;
  transition: opacity 1.2s;
  opacity: 1;
}

/*other additional styles*/

.top-nav .active-li a {
  box-shadow: none;
  background: $color-4 !important;

  @media (min-width: $media-m) {
    background: $color-4;
    color: $color-white;
    border-top: 2px solid $color-6;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.6);

    &:hover {
      background: $color-4;
      color: $color-white;
      border-top: 2px solid $color-6;
      box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.6);
    }
  }
}



/********ANIMATION STYLES************/
/******delay******/
@keyframes icoZoom {
  from {
    opacity: 0;
    -webkit-transform: scale3d(.1, .1, .1);
    transform: scale3d(.1, .1, .1);
  }

  15% {
    opacity: 1;
    transform: scale3d(.6, .6, .6);
  }

  30%{
    transform: scale3d(1, 1, 1);
  }

  40%{
    transform: scale3d(1.2, 1.2, 1.2);
  }

  55%{
    transform: scale3d(0.7, 0.7, 0.7);
  }

  70%{
    transform: scale3d(1.1, 1.1, 1.1);
  }

  80%{
    transform: scale3d(0.9, 0.9, 0.9);
  }
}

.icoZoom {
  animation-name: icoZoom;
  -webkit-animation-name: icoZoom;
  animation-duration: 800ms;
  animation-timing-function: ease-in-out;
}

/****timing for elements***/
.delay-02s{
  animation-delay: 150ms;
}

.delay-04s{
  animation-delay: 300ms;
}

.delay-06s{
  animation-delay: 450ms;
}

.delay-08s{
  animation-delay: 600ms;

}


///******сво€ анимаци€*******/
/*„то бы запустить анимаци, добавить класс hijackLeft к нужным
*элементам и раскоментировать код в js*/


//@keyframes hijackLeft {
//  from, to {
//    //animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
//    animation-timing-function: linear;
//  }
//
//  0% {
//    opacity: 0;
//    transform: translate3d(-2000px, 0, 0);
//  }
//
//  to {
//    transform: none;
//  }
//}
//
//.hijackLeft  {
//  animation-name: hijackLeft;
//  animation-duration: 600ms;
//  animation-fill-mode: backwards;
//}
//
//
///******shakes after main animation******/
//@keyframes shakeRight {
//  from, 33%, 66%, to {
//    animation-timing-function: linear;
//  }
//
//  33%{
//    transform: translate3d(30px, 0, 0);
//  }
//
//  66%{
//    transform: translate3d(-10px, 0, 0);
//  }
//
//  to{
//    transform: none;
//  }
//}
//
//.shakeRight{
//  animation-name: shakeRight;
//  animation-duration: 150ms;
//  animation-fill-mode: both;
//}
