/********=-VARIABLES=-*********/
/****units****/
/****media-queries****/
/****font styles****/
/****colors****/
/********=-GENERAL STYLES=-*********/
body {
  width: 100%;
  min-width: 950px;
  background-color: #f9f9f9;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-size: 15px;
  color: #808080; }

.content-box {
  max-width: 950px;
  margin: auto; }

.clearfix {
  content: "";
  display: table;
  clear: both; }

.list-clear {
  margin: 0;
  padding: 0;
  vertical-align: top; }
  .list-clear li {
    list-style: none; }
    .list-clear li a {
      text-decoration: none; }

.btn-clear {
  display: block;
  margin: 0;
  padding: 0;
  border: none; }
  .btn-clear:focus {
    outline: none; }

/********=-HEADER=-*********/
.main-header {
  box-sizing: border-box;
  padding: 1px;
  background: #ededee; }

.logo-box {
  box-sizing: border-box;
  padding-top: 43px;
  padding-bottom: 50px;
  background: url("../images/header_bg.jpg") 0 0 no-repeat;
  background-size: cover;
  height: 224px; }

.logo {
  display: block;
  width: 368px;
  margin: auto; }
  .logo img {
    width: 100%; }

/**** main top navigation ****/
.nav-wrapper {
  text-align: center;
  margin-top: -15px; }

.main-nav {
  position: relative;
  margin: 0 16%;
  text-align: center;
  background: #ededee;
  box-shadow: 1px 1px 23px 0 rgba(84, 41, 41, 0.15); }
  .main-nav:before {
    content: '';
    position: absolute;
    width: 70px;
    height: 70px;
    left: -55px;
    top: -17px;
    background: url("../images/turkey_icon.png") 0 0 no-repeat; }
  .main-nav li {
    display: inline-block;
    padding: 0 3%; }
  .main-nav a {
    display: inline-block;
    font: 400 16px/16px "Roboto";
    text-transform: uppercase;
    color: #4c4c4c;
    padding: 7px 0; }
  .main-nav a:hover, .main-nav .active a {
    color: #d82d33;
    box-shadow: inset 0 -2px #d82d33; }

/********=-MAIN CONTENT-*********/
main {
  padding: 0 0 20px 0; }

/**** content header block ****/
.page-header {
  box-sizing: border-box;
  width: 100%;
  padding: 25px 0 15px 0;
  background: #ececec; }

.page-slider {
  position: relative;
  width: 520px;
  margin: auto; }

.vendor-img {
  display: block;
  width: 350px;
  margin: auto; }

.page-prev, .page-next {
  position: absolute;
  top: 30px;
  width: 26px;
  height: 38px; }

.page-prev {
  left: 0;
  background: url("../images/spritesheet.png") -167px -1px no-repeat; }

.page-next {
  right: 0;
  background: url("../images/spritesheet.png") -357px -1px no-repeat; }

/**** content navigation bar ****/
.content-nav {
  margin-top: -5px;
  background: url("../images/content-nav_top-line.png") 50% 0 no-repeat, url("../images/content-nav_bottom-line.png") 50% 100% no-repeat;
  text-align: center; }
  .content-nav li {
    display: inline-block;
    margin: 0 40px; }
  .content-nav a {
    position: relative;
    display: inline-block;
    padding: 25px 0 25px 40px;
    font: 400 16px/16px "Roboto";
    text-transform: capitalize;
    color: #6d6e70; }
  .content-nav a:before {
    content: "";
    position: absolute;
    width: 34px;
    height: 50px;
    left: 0;
    top: 10px; }
  .content-nav a:hover, .content-nav .active a {
    color: #d82d33; }

.project-about a:before {
  background: url("../images/spritesheet.png") -136px 100% no-repeat; }

.project-gallery a:before {
  background: url("../images/spritesheet.png") -102px 100% no-repeat; }

.project-gallery:hover a:before, .project-gallery.active a:before {
  background: url("../images/spritesheet.png") -68px 100% no-repeat; }

.project-plan a:before {
  background: url("../images/spritesheet.png") -291px 100% no-repeat; }

.project-plan:hover a:before, .project-plan.active a:before {
  background: url("../images/spritesheet.png") -324px 100% no-repeat; }

.project-map a:before {
  background: url("../images/spritesheet.png") -233px 3px no-repeat; }

/**** page gallery ****/
.gallery {
  position: relative;
  width: 580px;
  margin: 15px auto 0 auto;
  background-color: #f8f8f8;
  box-shadow: 0 0 10px 2px #e1dfdf;
  padding: 10px; }
  .gallery .slide-next, .gallery .slide-prev {
    position: absolute;
    width: 36px;
    height: 36px;
    top: 63px; }
  .gallery .slide-prev {
    left: -11px;
    background: url("../images/spritesheet.png") -195px 1px no-repeat; }
  .gallery .slide-next {
    right: -13px;
    background: url("../images/spritesheet.png") -384px 1px no-repeat; }

.slider {
  position: relative;
  width: 580px;
  overflow: hidden; }

/* slider block */
.slides-wrapper {
  width: 750px;
  height: 145px;
  font-size: 0; }
  .slides-wrapper a {
    position: relative;
    display: inline-block;
    width: 186px;
    height: 139px;
    padding-left: 10px;
    padding-bottom: 10px;
    font-size: 400 16px/16px "Roboto";
    transition: margin 500ms linear; }
    .slides-wrapper a > img {
      width: 186px;
      -webkit-filter: grayscale(100%);
      filter: grayscale(100%); }
    .slides-wrapper a.active img, .slides-wrapper a:hover img {
      -webkit-filter: none;
      filter: none; }
    .slides-wrapper a.active:after, .slides-wrapper a:hover:after {
      content: '';
      position: absolute;
      left: 10px;
      bottom: 6px;
      width: 186px;
      height: 2px;
      background: #ee7b7f; }
    .slides-wrapper a:first-of-type {
      padding-left: 0; }
      .slides-wrapper a:first-of-type:after {
        left: 0; }

/* image block */
.img-box {
  position: relative;
  margin-top: 5px;
  width: 579px;
  height: 434px;
  overflow: hidden; }
  .img-box .fancy-gal {
    position: absolute;
    background: url("../images/full.png") 0 0 no-repeat;
    width: 22px;
    height: 22px;
    top: 10px;
    right: 10px; }
  .img-box img {
    width: 579px; }

/********=- FOOTER -=*********/
.main-footer {
  padding: 30px 1px 1px 1px;
  background-color: #e7e7e8;
  box-shadow: inset 0 5px 4px 0 #d1cece;
  text-align: center; }

.footer-phones {
  display: inline-block;
  position: relative;
  font: 400 16px/16px "Roboto";
  padding: 5px 0;
  text-align: center;
  letter-spacing: 0.5px; }
  .footer-phones:before {
    content: '';
    position: absolute;
    width: 23px;
    height: 23px;
    top: 0;
    left: -30px;
    background: url("../images/spritesheet.png") -268px 1px no-repeat; }
  .footer-phones .phone-central {
    color: #434446; }

.footer-social {
  display: block;
  margin-top: 10px;
  margin-bottom: 25px; }
  .footer-social a {
    position: relative;
    padding: 5px 0 5px 30px;
    font: 500 16px/16px "Helvetica";
    margin: 0 17px;
    text-decoration: none;
    color: #58595b; }
    .footer-social a:before {
      content: '';
      position: absolute; }

.email:before {
  width: 23px;
  height: 23px;
  top: 1px;
  left: 0;
  background: url("../images/spritesheet.png") -1px 1px no-repeat; }

.facebook:before {
  width: 19px;
  height: 19px;
  top: 3px;
  left: 0;
  background: url("../images/spritesheet.png") -24px 1px no-repeat; }

.google:before {
  width: 24px;
  height: 24px;
  top: 5px;
  left: 0;
  background: url("../images/spritesheet.png") -43px 1px no-repeat; }

.footer-author {
  background-color: #58595b;
  padding: 12px 0;
  margin: auto;
  font: 300 16px/16px "Helvetica";
  text-align: center;
  text-transform: uppercase;
  color: #fff; }

/*# sourceMappingURL=styles.css.map */
