/*** all class names was given to avoid conflicts in future support ***/
/********=-VARIABLES=-*********/
/****units****/
/****font styles****/
/********=-GENERAL STYLES=-*********/
body {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 14px;
  background-color: #f9ffdb; }

.width-fixed {
  width: 1200px;
  margin: auto; }

.float-right {
  float: right; }

.float-left {
  float: left; }

.clear-block {
  content: "";
  display: table;
  clear: both; }

.h1-style, .h2-style, .h3-style, .h4-style {
  font: 60px/60px "Roboto Condensed";
  color: #fff;
  text-transform: uppercase;
  margin: 0;
  padding: 0; }

.h2-style {
  font: 42px/48px "Roboto Condensed";
  color: #25383F; }

.h3-style {
  font: 36px/36px "Roboto Condensed";
  color: #25383F;
  text-align: center; }

.h4-style {
  font: 25px/25px "Roboto Condensed";
  color: #4D4545;
  margin: 0 0 2px 0; }

/********=-HEADER=-*********/
.main-header {
  position: relative;
  min-height: 418px;
  background-color: #d27168;
  /***/ }

/***slider***/
.main-slider {
  box-sizing: border-box;
  width: 100%;
  height: 418px;
  overflow: hidden; }
  .main-slider img {
    width: 100%; }

/*** base navigation styles ***/
.nav-container {
  position: absolute;
  top: 45px;
  left: 79px;
  right: 119px; }

/*** under-top nav block ***/
.logo-lang-container {
  min-height: 48px;
  margin-bottom: 7px; }

/*** logo ***/
.logo {
  display: inline-block;
  font: 50px/60px "Roboto Condensed";
  text-transform: uppercase;
  color: #fff; }
  .logo a {
    font: inherit;
    text-decoration: none;
    color: inherit; }
  .logo img {
    max-height: 60px; }

.support-nav {
  display: inline-block;
  box-sizing: border-box;
  max-width: 700px;
  margin: 20px 50px 0 0;
  padding: 0;
  list-style: none;
  vertical-align: top;
  text-align: center; }
  .support-nav li {
    display: inline-block;
    margin-right: 45px;
    vertical-align: top; }
    .support-nav li a {
      font: 11px/13px "Roboto";
      font-weight: 300;
      color: #fff;
      text-decoration: none;
      text-transform: uppercase; }
      .support-nav li a:hover {
        color: #000000; }

/*** lang toggle ***/
.lang-container {
  position: absolute;
  top: 0;
  right: 0;
  margin: 20px 0 0 0;
  padding: 0;
  text-align: center; }

.lang-current, .lang-toggle {
  display: block;
  position: relative;
  border: 1px solid #fff;
  padding: 1px 19px 1px 6px;
  font: 14px/17px "Roboto Condensed";
  color: #fff;
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase; }
  .lang-current:after, .lang-toggle:after {
    content: "";
    position: absolute;
    right: 7px;
    top: 8px;
    width: 6px;
    height: 5px;
    background: url("../images/arrow_1.png") 0 0 no-repeat;
    background-size: contain; }
  .lang-current:hover + .lang-toggle, .lang-toggle:hover + .lang-toggle {
    display: block; }

.lang-toggle {
  display: none;
  position: absolute;
  z-index: 1; }
  .lang-toggle:hover {
    display: block; }

/*** main top navigation ***/
.nav-basket-container {
  border: 1px solid #F1F2F2;
  box-shadow: 1px 2px 3px -1px rgba(0, 0, 0, 0.5), -2px 0 3px -2px rgba(0, 0, 0, 0.5);
  background-color: #F1F2F2;
  background: linear-gradient(#FEFEFE, #F1F2F2);
  overflow: hidden;
  text-align: right; }

.top-nav {
  display: inline-block;
  box-sizing: border-box;
  max-width: 800px;
  margin: 0;
  padding-left: 40px;
  list-style: none;
  vertical-align: top; }
  .top-nav li {
    display: inline-block;
    vertical-align: top; }
    .top-nav li:first-of-type a {
      padding-right: 45px; }
      .top-nav li:first-of-type a::after {
        right: 35px; }
    .top-nav li a {
      position: relative;
      display: block;
      padding: 15px 30px 15px 0;
      font: 14px/17px "Roboto Condensed";
      color: #6D6E71;
      text-transform: uppercase;
      text-decoration: none; }
      .top-nav li a:hover {
        color: #d27168; }
      .top-nav li a::after {
        position: absolute;
        right: 20px;
        top: 20px;
        height: 6px;
        width: 4px;
        content: "";
        background: url("../images/right-arrow.png") 0 0 no-repeat;
        background-size: contain; }

/*** basket ***/
.basket {
  position: relative;
  display: inline-block;
  width: 188px;
  padding: 15px 0;
  font: 14px/17px "Roboto Condensed";
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  background-color: #737538;
  background: linear-gradient(#52A828, #755B1E);
  cursor: pointer; }
  .basket:hover {
    color: #000000; }
  .basket::before {
    position: absolute;
    content: "";
    left: 36px;
    top: 12px;
    width: 23px;
    height: 23px;
    background: url("../images/busket-img.png") 0 0 no-repeat;
    background-size: contain;
    border-radius: 50%;
    opacity: 0.3; }

/********=-MAIN=-*********/
main {
  position: relative;
  box-sizing: border-box;
  background-color: #F1F2F2;
  background: url("../images/bg_wheat.jpg") 692px 100% repeat-y; }

/*info container*/
.main-info-container {
  position: relative;
  box-sizing: border-box;
  width: 692px;
  padding-left: 79px;
  background-color: #F1F2F2;
  background: url("../images/pattern.png"); }
  .main-info-container .header {
    width: 100%;
    position: absolute;
    top: -195px; }

.info-wrapper {
  padding: 1px; }

.h1--padding-1 {
  margin-left: 93px; }

.h1--padding-2 {
  margin-left: 203px; }

.h1--padding-3 {
  margin-left: 256px; }

.info__text-container {
  width: 375px;
  word-wrap: break-word; }

/*infoblock in info container*/
.infoblock {
  position: relative;
  padding-left: 58px;
  margin: 12px 0 22px 0;
  word-wrap: break-word; }
  .infoblock:before {
    content: "";
    position: absolute;
    top: -3px;
    left: 0;
    width: 34px;
    height: 32px;
    background: url("../images/star.png"); }

.infoblock__description {
  font: normal 11px/12.5px "Roboto";
  color: #A7A9AC;
  margin-bottom: 3px; }

.infoblock__percentage {
  font: normal 25px/25px "Roboto";
  color: #C49A6C; }

/*image block for info container*/
.info__img, .promo-description {
  width: 190px;
  margin: -75px 25px 0 0;
  padding: 0; }
  .info__img img, .promo-description img {
    width: 100%; }

/*info promo block under main info block*/
.info__promo {
  padding: 20px 0; }

.promo-button {
  display: inline-block;
  margin: 30px 0 0 10px;
  padding: 13px 18px 13px 27px;
  border: 5px solid #000000;
  font: 23px/28px "Roboto Condensed";
  text-transform: uppercase;
  color: #000000;
  text-decoration: none; }
  .promo-button:hover {
    border: 5px solid #d27168;
    color: #d27168; }

.promo-description {
  margin: 0 25px 0 0;
  text-align: right; }

/*calculator container*/
.calc-container {
  box-sizing: border-box;
  margin-top: -185px;
  z-index: 1;
  padding-right: 119px; }

.calc-wrapper {
  padding: 12px;
  background-color: #E9E5E4; }

.calc {
  border: 1px dashed #A7A9AC;
  background: url("../images/pattern.png");
  max-width: 249px;
  /***/
  padding: 22px;
  padding-bottom: 10px;
  word-wrap: break-word; }

.calc-promo {
  margin-top: 20px;
  font: 14px/18px "Roboto";
  font-weight: 300;
  text-transform: uppercase;
  color: #25383F;
  text-align: center; }

/*calc form container*/
.calc-form {
  position: relative;
  margin-top: 20px;
  padding: 22px 0 4px 0;
  box-shadow: 0 -40px 0 -39px #D1D3D4; }

.calc-form__text {
  position: relative;
  display: block;
  margin-top: 15px;
  font: 14px/18px "Roboto";
  font-weight: 300;
  color: #25383F; }
  .calc-form__text:first-of-type {
    margin-top: 0; }

.calc-form__field {
  box-sizing: border-box;
  margin-top: 6px;
  display: block;
  width: 100%;
  border: 1px solid #D1D3D4;
  padding: 4px 9px;
  font: 14px/18px "Roboto";
  color: #A7A9AC; }
  .calc-form__field:focus {
    color: #25383F; }

.profit-block {
  margin-top: 15px;
  box-shadow: 0 -40px 0 -39px #D1D3D4;
  padding: 8px 0 0 0; }

.profit-text {
  display: block;
  font: 14px/18px "Roboto";
  font-weight: 300;
  color: #d27168;
  text-transform: uppercase;
  text-align: center; }

.profit {
  display: inline-block;
  max-width: 100%;
  padding: 0;
  background: transparent;
  border: none;
  font: 47px/47px "Roboto Condensed";
  color: #d27168;
  text-align: center; }

.currency {
  margin-top: -5px;
  font: 14px/18px "Roboto";
  font-weight: 300;
  text-align: center; }

/********=-JS-CLASSES=-*********/
/*js classes for calculator*/
.js__error {
  position: absolute;
  left: -220px;
  width: 200px;
  border: 1px solid #d27168;
  background: #d27168;
  color: #fff;
  padding: 4px;
  z-index: 1; }

/*js classes for slider*/
.js__slider-image {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: none;
  transition: all 2s ease-in-out; }

.js__slider-image--current {
  display: block; }

.js__slider-image--visible {
  display: block; }

/*# sourceMappingURL=styles.css.map */
